body {

    background-image: url("product_view_bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1500px;

}

#mainWrapper {
    margin-left: 15%;;
    margin-right: auto;
    margin-top: 32%;
}



 a {
    font-size: 100%;
    margin-left: 10px;
    margin-top: 20px;
    padding: 20px;
    text-decoration: none;
    font-family: sans-serif;
}

 a:link,  a:visited {
    color: black;
    border: 3px solid black;
    font-size: 12px;
    padding: 5px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

 a:hover,  a:active {
    background-color: white;
    color:black;
    padding: 10px 14px;
    font-weight: bold;
}

#back a{
    margin-left: 45%;
    margin-right: auto;
    margin-top: 30%;
}